{% extends "base.html" %}
{% block title %}Flag-a-droit{% endblock %}
{% block content %}
<body>
<div class=".container-fluid">
<form action="/quiz" , method="post" class="col-lg-6 offset-lg-3 ">
    <div class="form-group row justify-content-center align-items-center">
        <label for="user">Please enter Player name</label>
        <input type="text" class="form-control" name="user" id="user" placeholder="Enter Player Name" required>
        <br>
        <br>
        <input type="submit" value="Start Game" style="margin-top: 0.5rem;">
    </div>
</form>
    </div>
</body>
{% endblock %}